/* ****************************** resets / universal ****************************** */

* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

:root {
  --shared-green: #596D48;
}

/* ****************************** flexbox ****************************** */

body, .website-name-container, .right-side, .top, .top > .container, #sign-up-form, .form-control {
  display: flex;
}

.right-side, .top, .top > .container, .form-control {
  flex-direction: column;
}

.right-side {
  flex: auto;
}

.top, .bottom {
  flex: 1;
}

/* ****************************** sections ****************************** */

body {
  height: 100vh
}

.left-side {
  background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  color: white;
}

.website-name-container {
  background-color: rgba(0, 0, 0, 0.4);
}

.right-side {
  justify-content: center;
}

.right-side-section {
  padding-left: 50px;
  padding-right: 50px;
}

.container, #sign-up-form {
  width: 675px;
}

.top, .bottom {
  background-color: #F9FAFB;
}

.top, .middle p {
  font-size: 24px;
  font-weight: 500;
}

.top {
  justify-content: flex-end;
  padding-bottom: 60px;
  line-height: 1.2;
}

.top > .container {
  gap: 30px;
}

.middle {
  padding-top: 25px;
  padding-bottom: 40px;
}

#sign-up-form {
  flex-wrap: wrap;
  row-gap: 25px;
  margin-top: 30px;
}

.form-control {
  margin-right: 75px;
}

input {
  border: 1px solid #E5E7EB;
  width: 260px;
  height: 30px;
  border-radius: 3px;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 2px;
}

input[type='password']:invalid {
  border: 1px solid rgb(185, 28, 28);
}

input:focus, button#create-account {
  box-shadow: 2px 2px 3px 1px #DDDDDD;
}

input:focus {
  border: 1px solid rgb(29, 78, 216);
  outline: none;
}

.bottom {
  padding-top: 35px;
}

button#create-account {
  background-color: var(--shared-green);
  border: 1px solid var(--shared-green);
  color: white;
  margin-bottom: 40px;
  width: 235px;
  height: 50px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
}

.bottom p {
  font-size: 18px;
}

#log-in-link {
  color: var(--shared-green);
  font-weight: bold;
}
