/* ****************************** resets / universal ****************************** */

* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

:root {
  --shared-green: #596D48;
}

/* ******************************  ****************************** */

body, .website-name-container, .right-side, #sign-up-form {
  display: flex;
}

.right-side {
  flex-direction: column;
}

.left-side {
  background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  color: white;
}

.website-name-container {
  background-color: rgba(0, 0, 0, 0.4);
}

input {
  border: 1px solid #E5E7EB;
}

input[type='password']:invalid {
  border: 1px solid rgb(185, 0, 0);
}

button#create-account {
  background-color: var(--shared-green);
  border-color: var(--shared-green);
  color: white;
}

#log-in-link {
  color: var(--shared-green);
}
