/* ****************************** resets / universal ****************************** */

* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

:root {
  --shared-green: #596D48;
}

/* ****************************** flexbox ****************************** */

body, .website-name-container, .right-side, #sign-up-form, .form-control {
  display: flex;
}

.right-side, .form-control {
  flex-direction: column;
}

/* ****************************** sections ****************************** */

body {
  height: 100vh
}

.left-side {
  background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  color: white;
}

.website-name-container {
  background-color: rgba(0, 0, 0, 0.4);
}

.right-side {
  justify-content: center;
}

.container, #sign-up-form {
  width: 675px;
}

#sign-up-form {
  flex-wrap: wrap;
}

.form-control {
  margin-right: 75px;
}

input {
  border: 1px solid #E5E7EB;
  width: 260px;
  height: 30px;
}

input[type='password']:invalid {
  border: 1px solid rgb(185, 0, 0);
}

input:focus {
  border: 1px solid rgb(0, 0,200);
  box-shadow: 2px 2px 3px 1px #dddddd;
  outline: none;
}

button#create-account {
  background-color: var(--shared-green);
  border-color: var(--shared-green);
  color: white;
}

#log-in-link {
  color: var(--shared-green);
}
